@import url('https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px');

@font-face {
  font-family: 'Friz Quadrata Regular OS';
  font-style: normal;
  font-weight: normal;
  src: local("Friz Quadrata Regular OS"), url('friz-quadrata-regular-os-5870333951e7c.woff') format("woff");
}

@keyframes mymove {
  50% {border-color: black}
}

$dark-orange: #e65c00;
$orange-yellow: #F9D423;
$black: rgba(0,0,0,0.3);

.todo{
  display:flex;
  background: linear-gradient(to right,  rgb(184, 184, 184), #f8eadd );
  padding:0.5em;
  border-radius: 2em 1em 4em / 0.5em 3em;
  font-family: Friz Quadrata Regular OS;
  border-bottom:1px solid $dark-orange;
  border-right: 1px solid $dark-orange; 
  align-items:flex-start;
  margin-bottom: 0.5em;
  box-shadow:2px 2px 2px $black;
  max-height:100px;
  overflow:hidden;
  transition: all 300ms ease;
  
  button{
    margin-right:1em;
  }
  
  &.deleted{
    max-height:0px;
    padding:0;
    margin-bottom:0;
    opacity:0;
  }
}

button{
  color:#fff;
  outline:none;
}

.remove{
  border:0;
  color: #F44336;
  padding:0.3em;
  background:none;
  font-weight: bold;
}

.todo-list{

  max-width:500px;
  margin:3em auto 0;
  background-color: rgba(0, 0, 0, .2);
  padding:1em;
  box-shadow:5px 5px 10px $black;

  h1{
    margin-top:0;
    color:#212121;
    font-family: Friz Quadrata Regular OS;
    text-align:center;
  }

  .controls{
    display:flex;
    margin-top:1em;
    input{
      flex:1;
      padding:0.5em;
      margin-right: 10px;
      background: #f8eadd;
      border-radius: 20px;
      font-family: Friz Quadrata Regular OS;
      border: 2px inset var(--main-color);
      outline:none;
    }
    button{
      background: linear-gradient(to right, $dark-orange, $orange-yellow);
      color:black;
      padding:0.4em;
      border-radius: 5px 20px 5px;
      font-family: Friz Quadrata Regular OS;
      border: 2px inset var(--main-color);
      &:hover {
        cursor: pointer;
        box-shadow:5px 5px 10px $black;
        animation: mymove 3s infinite;
      }
    }
  }
}