@keyframes swing {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-30deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.task-button{
  position: fixed;
  bottom: 10px;
  right: 10px;
  &:hover {
    cursor: pointer;
    animation: swing 1.5s linear infinite;
  }
}