
/* FONT IMPORTS */

@font-face {
  font-family: 'Friz Quadrata Regular OS';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Regular OS'), url('friz-quadrata-regular-os-5870333951e7c.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Friz Quadrata Bold Italic OS';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Bold Italic OS'), url('friz-quadrata-bold-italic-os-5870341205e0f.woff') format('woff');
  }

.hidden {
  display: none;
}

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #e65c00;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    position: relative;
}

header {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  max-width:500px;
  margin:1.5em auto 0;
  padding:1em;
  background: linear-gradient(to right, #e65c00, #F9D423);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow:5px 5px 10px rgba(0,0,0,0.3);
  font-family: Friz Quadrata Regular OS;
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: black;
}

header #logo .icon {
  padding-right: .25em;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  max-width: 50em;
}

main div.recurring {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

a {
  color:green;
  font-family: Friz Quadrata Regular OS;
}

a:visited {
  color:red;
  font-family: Friz Quadrata Regular OS;
}